<template id="c-manage-template">
    <div class="portlet">

        <div class="portlet-header border-bottom mb-1" :class="manageHeaderClass">
									<span class="d-block text-truncate font-weight-medium"
                                          :class="manageHeaderTextClass">
										Gestione {{modelName|translate('model',1)}}
									</span>
        </div>

        <div class="portlet-body pb-0">
            <a id="" :id="'hiddenTelLink-'+modelName|translate('model',0)" href="#" target="_blank"></a>
            <div class="collapse show" c-collapse-list>
                <div >
                    <div >
                        <div c-search-container>
                        </div>
                        <div c-list-container>

                        </div>

                    </div>
                </div>
            </div>

            <div class="collapse" c-collapse-edit>
                <div class="portlet">

                    <!-- portlet : header -->
                    <div class="portlet-header border-bottom mb-3" :class="layoutGradientColor">
                        <span class="d-block text-white text-truncate font-weight-medium" v-show="updateTitle">
                            {{updateTitle}}
                        </span>
                    </div>
                    <!-- /portlet : header -->

                    <div class="portlet-body pb-0" c-edit-container>

                    </div>
                </div>
            </div>
        </div>


        <div c-view_dialog class="modal" tabindex="-1" role="dialog"
             aria-labelledby="" aria-hidden="true"
        >
            <div class="modal-dialog modal-lg" :class="" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">{{viewTitle}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span class="fi fi-close fs--18" aria-hidden="true"></span>
                        </button>
                    </div>
                    <div c-view-container class="modal-body">

                    </div>
                    <div class="modal-footer">
                        <button crud-button="ok" type="button" class="btn btn-outline-success"
                                data-dismiss="modal">
                            <i class="fi fi-check"></i>
                            OK
                        </button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
    </div>
</template>
