<script type="text/x-template" id="csv-dashboard-template">
    <div id="tabContent">
        <div class="alert alert-info" role="alert">
            <h4 class="alert-heading">Importazione csv,excel</h4>
            <p>Importazione modello <strong>{{cProviderName}}</strong> da file csv,xls,xlsx</p>
            <hr>
            <p class="mb-0">L'importazione avverrà in due fasi, la lettura del file csv e check degli errori e salvataggio del csv importato</p>
        </div>
        <div v-if="uploadEnabled" class="panel panel-default" >
            <div class="card shadow-md shadow-lg-hover transition-all-ease-250 transition-hover-top h-100 border-primary bl-0 br-0 bb-0 bw--2">
                <div class="card-body">
                    <h5 class="card-title">Seleziona file da importare</h5>
                    <p class="card-text p--10">
                        <v-edit :c-conf="_uploadConf()"></v-edit>
                    </p>
                </div>
            </div>

<!--            <div>Seleziona file csv da importare</div>-->
<!--            <v-edit :c-conf="_uploadConf()"></v-edit>-->
        </div>
        <div v-if="progressEnabled">
            <div v-if="status=='loading'">Loading</div>
            <div v-if="status=='saving'">Saving</div>
            <div class="progress">
                <div class="progress-bar progress-bar-striped" :style="'width:'+progressValue+'%'"></div>
            </div>
        </div>
        <div v-if="saveEnabled">
            <div class="bg-warning text-center rounded rounded-xl row-pill"><span>Risultato validazione dati importati</span></div>
            <v-edit :c-conf="_saveConf()"></v-edit>
            <v-list-data :c-conf="_listConf()"></v-list-data>
<!--            <v-action c-name="action-base" :c-action="saveAction"></v-action>-->
        </div>
    </div>
</script>



<script id="csv-dashboard-v-list-data-template" type="text/x-template">
    <div class="row">
        <!-- start:col: -->
        <div class="col-12 mb-1 p-0">

            <!-- start:portlet -->

            <c-loading v-if="loading" :error-msg="errorMsg"></c-loading>
            <div v-else class="portlet">
                <div class="portlet-header border-bottom" :class="headerClass">
                    <span v-show="viewTitle">{{viewTitle}}</span>
                    <!-- options and pagination -->
                    <div class="row justify-content-end">

                        <div v-if="paginator" class="col-12 col-md-6 mt-1 mb-2">
                            <!-- v-bind:c-route-conf="routeConf" -->
                            <c-paginator v-if="widgets.length > 0" v-show="pagination"
                                         v-bind:c-pagination="pagination" v-bind:c-route="route"></c-paginator>
                        </div>
                        <div class="col-12 col-md-6 mt-1 mb-2" v-show="collectionActionsName.length">
                            <template v-for="name in collectionActionsName">
                                <component v-bind:is="name" v-bind:c-conf="collectionActions[name]"></component>
                            </template>
                        </div>

                    </div>
                    <div v-show="multiSheets">
                        <span>Mostra sheet:</span>
                        <w-select :c-conf="selectSheetConf"></w-select>
                    </div>
                    <!-- /options and pagination -->

                    <!-- header -->
                    <!-- portlet : header -->
                    <!-- /portlet : header -->

                    <!-- /header -->
                </div>
                <div class="portlet-body pb-0">
                    <div class="container-fluid py-1">


                        <div class="table-responsive" style="white-space:nowrap;" :class="modelName">
                            <table class="table table-framed table-striped table-bordered">
                                <thead>
                                <tr v-if="widgets.length > 0">
                                    <th v-if="needSelection" class="text-gray-500 w--50">
                                        <label class="form-checkbox form-checkbox-primary float-start">
                                            <input c-row-check-all v-on:change="selectAllRows"
                                                   class="checkall" type="checkbox">
                                            <i></i>
                                        </label>
                                    </th>
                                    <th v-if="recordActionsName.length"></th>
                                    <th v-for="key in keys" v-if="!isHiddenField(key)"
                                        class="text-gray-500 font-weight-normal fs--14" :class="'field-'+key">
                                        <action-order v-if="orderFields[key]"
                                                      v-bind:c-conf="getOrderConf(key)"></action-order>
                                        <span style="cursor:default"
                                              class="btn btn-default btn-xs mr-1 text-gray-500 font-weight-normal fs--14"
                                              v-else>{{key+'.label' | translate(langContext) }}</span>
                                        <button v-if="hasHelp(key)"
                                                type="button"
                                                class="btn-xs btn-squared btn-light"
                                                data-trigger="focus"
                                                data-container="body"
                                                data-toggle="popover"
                                                data-placement="top"
                                                :data-content="hasHelp(key)">
                                            <i class="fi fi-round-question-full text-red-700"></i>
                                        </button>

                                    </th>
                                </tr>
                                <tr v-if="widgets.length == 0">
                                    <th v-show="recordActionsName.length" class="text-gray-500 w--50">
                                        {{"app.nessun-elemento" | translate }}
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <!-- product -->
                                <tr v-for="(row,index) in widgets" :key="index">
                                    <th v-if="needSelection">

                                        <label
                                            class="form-checkbox form-checkbox-primary float-start">
                                            <input c-row-check type="checkbox">
                                            <i></i>
                                        </label>


                                    </th>
                                    <th v-show="recordActionsName.length">
                                        <div class="btn-group" role="group">
                                            <template v-for="(action,name) in recordActions[index]">
                                                <v-action :c-action="action" :key="name"></v-action>
                                            </template>
                                        </div>

                                    </th>

                                    <td v-for="(widget, key) in row" v-if="!isHiddenField(key)" :class="tdClass(index, key)">
                                        <v-widget :c-widget="widget" :key="key"></v-widget>
                                        <div v-if="hasError(index,key)">
                                            <hr>
                                            <small>(foglio = {{value[index]['datafile_sheet']}})</small>
                                            <small>(riga = {{value[index]['row']}})</small>
                                        </div>
                                        <action-base v-if="canEdit && hasError(index,key)" :c-conf="editErrorConf(index,key)"></action-base>
                                    </td>
                                    <template v-for="(widget, key) in row" v-if="isHiddenField(key)">
                                        <v-widget :c-widget="widget" :key="key"></v-widget>
                                    </template>
                                </tr>
                                </tbody>

                                <tfoot v-if="hasFooter">
                                <tr v-if="widgets.length > 0">
                                    <th v-if="needSelection" class="text-gray-500 w--50">

                                    </th>
                                    <th v-show="recordActionsName.length"></th>
                                    <th v-for="key in keys" v-if="!isHiddenField(key)"
                                        class="text-gray-500 font-weight-normal fs--14">
                                        <action-order v-if="orderFields[key]"
                                                      v-bind:c-conf="getOrderConf(key)"></action-order>
                                        <span style="cursor:default"
                                              class="btn btn-default btn-xs mr-1 text-gray-500 font-weight-normal fs--14"
                                              v-else>{{key+'.label' | translate(langContext) }}</span>
                                        <button v-if="hasHelp(key)"
                                                type="button"
                                                class="btn-xs btn-squared btn-light"
                                                data-trigger="focus"
                                                data-container="body"
                                                data-toggle="popover"
                                                data-placement="top"
                                                :data-content="hasHelp(key)">
                                            <i class="fi fi-round-question-full text-red-700"></i>
                                        </button>

                                    </th>
                                </tr>
                                </tfoot>


                            </table>
                        </div>


                    </div>
                    <!-- end:portlet -->
                </div>
            </div>

        </div>
        <!-- end:col: -->

    </div>
</script>
