<template id="dashboard-csv-template">
    <div class="card card">
        <div class="card-header">CSV IMPORT</div>
        <div class="card-body">
            <div id="tabContent">
                <header id="page-header">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                              <span class="title elipsis">
                                <strong data-html="app.translate('model-' + modelName)"></strong>
                              </span>
                        </div>
                    </div>
                </header>
                <div class="collapse show" c-upload >
                    <v-insert ref="uploadView" v-bind:c-conf="conf.uploadConf" ></v-insert>
                    <div class="">
                        <form name="upload_form" action="/uploadfile" method="post" enctype="multipart/form-data">
                            <span data-translate="general-scegli_file"></span>
<!--                            <r-upload cKey="filedata" v-bind:c-conf="uploadConf"></r-upload>-->
                            <!--<input class="form-inline" type="file" name="file">-->

                            <input type="hidden" name="type" value="csv">
                        </form>
                        <a data-link_template href="#" target="_blank">Scarica template</a>
                        <h5 data-filename></h5>
                        <button data-button_load type="button" class="btn btn-default bnt-small hide">Carica</button>
                    </div>
                </div>
                <div class="collapse" c-progress>
                    <div data-csvstatus>
                        <div data-csvstatus_msg class="text-center"></div>
                        <div class="progress progress-striped active">
                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow=""
                                 aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
                        </div>
                    </div>
                </div>
                <div class="collapse" c-csvdata>

                </div>
            </div>
        </div>
    </div>
</template>